*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    height: 100vh;
    width: 100vw;
}
table#chessboard {
    border-collapse: collapse;
    border-radius: 10px;
    width: 90vh;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
  td {
    width: 50px;
    height: 50px;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
    background-size: 100%;
  }
  
  td.white {
    background-color: #f0d9b5;
    
  }
  
  td.black {
    background-color: #b58863;
  }
  
  td[data-piece="pawn"][data-color="white"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/wp.png');
    cursor:pointer;
  }
  
  td[data-piece="rook"][data-color="white"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/wr.png');
    cursor:pointer;
  }
  
  td[data-piece="knight"][data-color="white"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/wn.png');
    cursor:pointer;
  }
  
  td[data-piece="bishop"][data-color="white"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/wb.png');
    cursor:pointer;
  }
  
  td[data-piece="queen"][data-color="white"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/wq.png');
    cursor:pointer;
  }
  
  td[data-piece="king"][data-color="white"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/wk.png');
    cursor:pointer;
  }
  
  td[data-piece="pawn"][data-color="black"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/bp.png');
    cursor:pointer;
  }
  
  td[data-piece="rook"][data-color="black"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/br.png');
    cursor:pointer;
  }
  
  td[data-piece="knight"][data-color="black"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/bn.png');
    cursor:pointer;
  }
  
  td[data-piece="bishop"][data-color="black"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/bb.png');
    cursor:pointer;
  }
  
  td[data-piece="queen"][data-color="black"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/bq.png');
    cursor:pointer;
  }
  
  td[data-piece="king"][data-color="black"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/bk.png');
    cursor:pointer;
  }
.possibleMove{
  cursor: pointer;
}
.possibleMove[data-piece]:not([data-piece="empty"])::after{
  width: 80%;
  height: 80%;
  border: 5px double black;
  background-color: rgba(0, 0, 0, 0);
}
.possibleMove::after
{
  content: "";
  display: block;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}
.check {
  background-color: red !important;
}
.hide
{
  top: -500px !important; 
}
.endgame 
{
  color: #f8f8f8;
  font-size: 1em;
  border-radius: 10px;
  font-family: 'Alkatra', cursive;
  padding: 40px 0;
  z-index: 100;
  text-align: center;
  height: 40vh;
  width: 30vw;
  position: absolute;
  background-color: #393737; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 1s;
}
.endgame .x-mark
{
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 20px;
}
.endgame .x-mark:hover
{
  color: red;
}
.endgame .rematch
{
  border-radius: 10px;
  background-color: #f8f8f8;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  width: 90%;
  height: 35%;
  margin-top: 14%;
  position: relative;
  transition: all ease 500ms;
}
.endgame .rematch:hover{
   color: #f8f8f8;
   background: #393737;
   border: 1px solid #f8f8f8;
} 
.rematch
{
  border-radius: 10px;
  color: #f8f8f8;
  background-color: #393737;
  border: none;
  cursor: pointer;
  font-size: 1em;
  position: absolute;
  width: 20vw;
  height: 10vh;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
}
.rematch:hover
{
  background-color: #f8f8f8;
  border: 2px solid #393737;
  color: #393737;
}