*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #312e2b;
    overflow:hidden;
}
.hide
{
  display: none !important;
}
table#chessboard {
    border-collapse: collapse;
    border-radius: 10px;
    margin: auto;
}
  
  td {
    width: 11vh;
    height: 11vh;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 800px;
    max-height: 800px;
  }
  
  td.white {
    background-color: #ebecd0;
    
  }
  
  td.black {
    background-color: #779556;
  }
  
  td[data-piece="pawn"][data-color="white"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/wp.png');
    cursor:pointer;
  }
  
  td[data-piece="rook"][data-color="white"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/wr.png');
    cursor:pointer;
  }
  
  td[data-piece="knight"][data-color="white"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/wn.png');
    cursor:pointer;
  }
  
  td[data-piece="bishop"][data-color="white"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/wb.png');
    cursor:pointer;
  }
  
  td[data-piece="queen"][data-color="white"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/wq.png');
    cursor:pointer;
  }
  
  td[data-piece="king"][data-color="white"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/wk.png');
    cursor:pointer;
  }
  
  td[data-piece="pawn"][data-color="black"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/bp.png');
    cursor:pointer;
  }
  
  td[data-piece="rook"][data-color="black"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/br.png');
    cursor:pointer;
  }
  
  td[data-piece="knight"][data-color="black"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/bn.png');
    cursor:pointer;
  }
  
  td[data-piece="bishop"][data-color="black"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/bb.png');
    cursor:pointer;
  }
  
  td[data-piece="queen"][data-color="black"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/bq.png');
    cursor:pointer;
  }
  
  td[data-piece="king"][data-color="black"]{
    background-Image:url('https://www.chess.com/chess-themes/pieces/neo/150/bk.png');
    cursor:pointer;
  }
.possibleMove{
  cursor: pointer;
}
.possibleMove[data-piece]:not([data-piece="empty"])::after{
  width: 80%;
  height: 80%;
  border: 5px double black;
  background-color: rgba(0, 0, 0, 0);
}
.possibleMove::after
{
  content: "";
  display: block;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0 auto;
  width: 35%;
  height: 35%;
  background-color: rgba(0, 0, 0, 0.5);
}
.check {
  background-color: red !important;
}
.hide
{
  top: -500px !important; 
}
.endgame 
{
  color: #f8f8f8;
  font-size: 1em;
  border-radius: 10px;
  font-family: 'Alkatra', cursive;
  padding: 40px 0;
  z-index: 100;
  text-align: center;
  height: 50vh;
  width: 40vw;
  position: absolute;
  background-color: #393737; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 1s;
}
.endgame .x-mark
{
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 20px;
}
.endgame .x-mark:hover
{
  color: red;
}
.endgame .rematch
{
  color: #393737;
  border-radius: 10px;
  background-color: #f8f8f8;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  width: 90%;
  height: 35%;
  position: absolute;
  top: auto;
  bottom: 14vh;
  left: 50%;
  transform: translateX(-50%);
  transition: all ease 500ms;
}
.endgame .rematch:hover{
   color: #f8f8f8;
   background: #393737;
   border: 1px solid #f8f8f8;
} 
.rematch,
.home
{
  color: #f8f8f8;
  border:none;
  border-bottom: 1px solid #f8f8f8;
  background-color: #393737;
  cursor: pointer;
  font-size: 1em;
  position: absolute;
  height: 6vw;
  width: 6vw;
  top: 0;
  right: 0;
  transition: all ease 0.5s;
  border-bottom: none;
  border-radius: 0 0 0 10px;
}
.home 
{
  left: 0;
  border-radius: 0 0 10px 0;

}
.rematch i,
.home i
{
  font-size: 2vw;
  position: relative;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
.rematch:hover,
.home:hover
{
  background-color: #f8f8f8;
  border: 2px solid #393737;
  color: #393737;
}

.prevMove
{
  box-shadow: inset 0 0 3px 3px blue;
}
#home
{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction:column ;
  align-items: center;
  justify-content: center;
}
/* home */
.container
{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4vw;
  position: relative;
  background-color: #f8f8f8;
  height: 80vh;
  width: 80vw;
  border-radius: 10px;
}
.container div
{
  width: 100%;
  height: 6vw;
}
.container select
{
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  background-color: #f8f8f8;
  margin-top: 10px;
  height: 50%;
  width: 100%;
  cursor: pointer;
  appearance: none;
  background-image: url("../images/fleche-vers-le-bas.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 8px 8px; /* la taille de votre image */
  background-position: calc(100% - 10px);
  transition: all ease 0.5s;
}
.container select option
{
  font-size: 1.2vw;
  border-radius: 10px;
}
.container button 
{
  cursor: pointer;
  margin-top: 5vw;
  width: 75%;
  height: 3vw;
  font-size: 1vw;
  background-color: #312e2b;
  color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 5px;
  letter-spacing: 8px;
  transition: all ease 0.3s;
}
.container button:hover
{
  background-color: #f8f8f8;
  color: #312e2b;
  border: 1px solid #312e2b;
}
/* responsive */

@media only screen and (max-width: 760px) {
  td {
  width: calc((100vw) / 10);
  height: calc((100vw) / 10);
  }
  .current-player
  {
    top: 0;
    width: 10vw;
    height: 10vw;
  }
  table#chessboard{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    margin: auto;
  }
  .rematch{
    position: absolute;
    width: 100vw;
    top: 100%;
    transform: translateY(-100%);
    bottom: 0;
    right: 0;
    left: 0;
    border-radius:0;
  }
  .endgame{
    width: 60vw;
  }
  .endgame .rematch{
    bottom: 10vh;
  }
  }
  
  @media only screen and (max-width: 620px) {
    table#chessboard{
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      margin: auto;
    }
    td {
      width: calc((100vw) / 8);
      height: calc((100vw) / 8);
    }
    .endgame h1 {
      font-size: 1.4em;
    }
  }